
Effective/obj/Debug/MainWindow.baml
Effective/obj/Debug/Effective_MarkupCompile.lref
Effective/obj/Debug/Effective_MarkupCompile.cache
Effective/obj/Debug/Effective.csproj.CoreCompileInputs.cache
.vs/Effective/v15/Server/sqlite3/storage.ide-wal
.vs/Effective/v15/Server/sqlite3/storage.ide-shm
.vs/Effective/v15/Server/sqlite3/storage.ide
.vs/Effective/v15/Server/sqlite3/db.lock
.vs/Effective/v15/.suo
Effective/obj/Debug/MainWindow.baml
Effective/bin/Debug/Effective.exe
Effective/bin/Debug/Effective.pdb
Effective/bin/Debug/Effective.exe
Effective/obj/Debug/Effective_MarkupCompile.cache
Effective/obj/Debug/Effective_MarkupCompile.lref
Effective/bin/Debug/Effective.exe
Effective/bin/Debug/Effective.pdb
Effective/MainWindow.xaml.cs
Effective/bin/Debug/Effective.exe
Effective/bin/Debug/Effective.exe
Effective/bin/Debug/Effective.pdb
Effective/bin/Debug/effectivnost.txt
Effective/obj/Debug/Effective.csproj.CoreCompileInputs.cache
Effective/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Effective/obj/Debug/Effective.exe
Effective/obj/Debug/Effective.pdb
Effective/obj/Debug/Effective_MarkupCompile.cache
Effective/obj/Debug/Effective_MarkupCompile.i.cache
Effective/obj/Debug/Effective_MarkupCompile.i.lref
Effective/obj/Debug/Effective_MarkupCompile.lref
Effective/obj/Debug/Effective_MarkupCompile.cache
Effective/obj/Debug/Effective.csproj.CoreCompileInputs.cache
*.cache
Effective/obj/Debug/MainWindow.baml
